* {
  box-sizing: border-box;
}

:root {
  font-family: "Hanken Grotesk", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #262626;
  color: #D9D9D9;
  margin: 0;
  padding: 20px;
  height: 100vh;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
}

header {
  margin: 0 auto;
  text-align: center;
  max-width: 350px;
}

header > h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header > p {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8E8E8E;
}

section.game-status {
    background-color: #10A95B;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    border-radius: 4px;
}

section.game-status > h2 {
    margin: 0;
    padding: 0;
}

section.game-status > p {
    margin: 0;
    padding: 0;
}

section.language-chips {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5em auto;
  gap: 5px;
  justify-content: center;
  max-width: 90%;
}

span.language-chip {
  border-radius: 3px;
  font-weight: 700;
  padding: .5em;
}

section.word {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

span.letter {
  font-size: 1.125rem;
  font-weight: bold;
  padding: .50em 1em;
  background-color: #323232;
  color: #F9F4DA;
  border-bottom: 2px solid #F9F4DA;
  margin: 0 1px;
}

section.keyboard {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

button {
  cursor: pointer;
}

button.key {
  font-size: 1.25rem;
  background-color: #FCBA29;
  color: black;
  width: 2.25em;
  height: 2.25em;
  border: 1px solid white;
  border-radius: 5px;
}

button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
